.container {
    display: flex;
    height: 100%;
    width: 70%;
    flex-direction: column; /* stacks items vertically */
    background-color: aqua;
    align-items: end; /* pushes items to the right (cross-axis) */
    justify-content:center;
}

div {
    width: 100px;
    height: 50px;
    background-color: beige;
    border: 1px solid black;
}

.a {
    align-self: stretch; /* overrides align-items for this item */
}

html, body {
    height: 100%; /* now container's 100% works */
    margin: 0;    /* remove default spacing */
}
