.container{
    display: grid;
    height: 200px;
    width: 100%;
    background-color: blue;
    border: 1px solid black;
    grid-template-columns: [pehla]1fr [doosra]1fr ;
    /* grid-template-rows: 1fr 1fr; */
    justify-items: space-around;
    /* justify-items: space-between; same effet as start */
    justify-items: start;
}
div{
     height: 50px;
    width: 100px;
    background-color: pink;
    border: 1px solid red;
}

.e{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 10%;
    height: 100%;
} 
.a{
    grid-column: 1/2;
    grid-row: 1/span 2;
}